<div class="artists">
        {{#each data.body.artists.items}}    
            <div class="artist">
                {{#if this.images.0.url}}
                    <img class="artistImg" src="{{this.images.0.url}}" alt="photo">
                {{/if}} 
                {{this.name}}
            <a href="/albums/{{this.id}}">View Albums</a>
            </div>
        {{/each}}
</div>