<div class="main">
    <form class='search' action="artist-search" method="GET">
        <label for="artist"></label>
        <input class='search-bar' type="text" name="search" id="artist">
        <button class='button' type="submit">Search for an Artist</button>
    </form>
</div>
